body{
    background-color: salmon;
}
.Hover, .rotate, .translatex, .threed, .skew, .translatey, .scale{
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: 4s;
    
}

.Hover:hover{
    color: yellow;
    background-color: turquoise;
}

.rotate:hover{
    color: yellowgreen;
    background-color: blueviolet;
    transform: rotate(360deg);
}

.translatex:hover{
    color: cadetblue;
    background-color: coral;
    transform: translateX(30px);
}

.translatey:hover{
    color: crimson;
    background-color: darkgreen;
    transform: translateY(30px);
}

.threed:hover{
    color: darkkhaki;
    background-color: darkorange;
    transform: matrix3d(20px);
}

.skew:hover{
    color: darkred;
    background-color: darkslateblue;
    transform: skewX(5deg) skewY(5deg);
}

.scale:hover{
    color: deepskyblue;
    background-color: dodgerblue;
    transform: scaleX(2) scaleY(3);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
ul li {
        float: left;
        list-style-type: none;
        opacity: 0.8;
}
ul li a{
    border: black solid 1px;
    box-shadow: 8px 4px 12px 10px rosybrown;
    margin-right: 15px;
    text-decoration: none;
    width: 120px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: maroon;
    text-align: center;

}

ul li a:hover {
    background-color:chocolate;
    color: black;
    font-size: 25px;
    text-decoration: none;
}
.dropdwn li a {
    height: 25px;
    line-height: 25px;
}

.dropdwn li {
    float: none;
}

li .dropdwn{
    visibility: hidden;
}
li:hover .dropdwn{
    visibility: visible;
}
